<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>GameSort</title>
    <link rel="shortcut icon"  href="https://github.com/projeto-de-algoritmos/D-C_GameSort/blob/main/assets/icon.png?raw=true"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
  </head>
  <body>
    <div class="navbar navbar-dark bg-dark p-3 ps-5 shadow-lg mb-5">
        <a class="navbar-brand d-flex align-items-center" href="/" >
            <img src="https://github.com/projeto-de-algoritmos/D-C_GameSort/blob/main/assets/icon-light.png?raw=true" alt="" width="80" height="50">
            <h1 class="navbar-brand ms-2">GameSort</h1>
        </a>
    </div>
    <div class="container">
      <h1 class="mb-3">Lista de games</h1>
        {{range $index, $element := .Games}}
          <div class="card w-75 mb-2">
            <div class="card-body">
              <h5 class="card-title">{{$index}} - {{.GetName}}</h5>
              <p><b>Ano:</b> {{.GetYear}} </p>
              <p><b>Vendas:</b> {{.GetSales}}</p>
            </div>
          </div>
        {{end}}

      <!-- <ol> -->
      <!--   {{range $index, $element := .Games}} -->
      <!--   <li><b>Jogo:</b> {{.GetName}} - <b>Ano:</b> {{.GetYear}} <b>Vendas:</b> {{.GetSales}}</li> -->
      <!--   {{end}} -->
      <!-- </ol> -->

    </div>
  </body>
</html>
